.container {
   width: 1280px; 
    margin:0 auto ;
}
.second-h, .par, .fourth-h, .fifth-h, .sixth-h{
    margin: 0;
}
.first-h {
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
color: #ffffff;
font-family: "Arial";
font-size: 60px;
font-weight: 400;
margin: 0;
}

.section1 {
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
    margin: 0;
}

.list-struct {
outline: none;
list-style-type: none;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
color: #fff;
font-family: "Arial";
font-size: 20px;
font-weight: 400;
line-height: 36px;
    position: relative;
}

.need {
    width: 462px;
    float:left;
}

.section1::after {
    content: "";
    display: block;
    clear: both;
}
.photo {
    width: 469px;
    float: right;
    background-color: #fff;
    display: block;
}
.blok {
    float: left;
    width: 653px;
}

.section2::after {
    content: "";
    display: block;
    clear: both;
}

video {
    float: right;
    width: 427px;
    height: 240px;
    background-color: #445161;
}

.second-h {    
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
margin-bottom: 30px;    
}

.par {
color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.third-h {
width: 100%;
text-align: center;
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
}

.section3 {
    background-color: #f5f5f5;
    padding: 40px 0 0 40px;
}

.second-list {
    width: 567px;
    display: inline-block;
}

.struct-list {
margin-bottom: 30px;
color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
position:relative;
}

.fourth-h {
display: block;
width: 100%;
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
text-align: center;
    margin-bottom: 30px;
}

.card-h {
color: #445161;
font-family: "Arial";
font-size: 24px;
font-weight: 400;
line-height: 30px;
margin: 0;
padding: 0;
}

.text {
width: 360px;
color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
    margin: 0;
}

.photos {
display: block;
width: 200px;
height: 150px;
background-color: #445161;
}
.section2 {
    padding: 50px;
box-sizing: border-box;
}
.block {
display:flex;
width: 574px;
align-items: center;
margin: 0 15px 30px 0;
padding: 0;
}

figcaption {
float: right;  
    margin-left: 15px;
}

.photos::after {
  content: "";
    display: block;
    clear: both;  
}

.screen {
display: flex;
flex-direction: row;
flex-wrap: wrap;   
padding: 50px;
box-sizing: border-box;
}

.fifth-h {
display: block;
width: 100%;    
text-align: center;
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
padding: 50px 0 10px 0;
}

.avatar {
display: block;
width: 75px;
height: 75px;
background-color: #445161;
border-radius: 50%;
margin-top: 20px;    
}

.comments {
color: #333333;
font-family: "Arial";
font-size: 14px;
line-height: 18px;
width: 418px;
height: 121px;
padding: 16px 0px 0px 20px;
background-color:#ebebeb;
margin-left: 24px;
position: relative;
}

.comment {
    display: flex;
    padding: 0px 50px 0px 50px;
}

.reviews {
    display:flex; 
    width: 100%;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}

.comments::before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid black;
    top: 27px;
    left: -30px;
    border: 15px solid transparent;	
    border-right: 15px solid #ebebeb;
}
.author {
color: #989898;
font-family: "Arial";
font-size: 14px;
font-weight: 400;
line-height: 18px;
}

.buy {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
    box-sizing: border-box;
    justify-content: center;
}

.sixth-h {
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
width: 100%;
text-align: center;
padding: 29px 0;
}

.card-buy {
    background-color: #445162;
    margin: 0 45px 61px 0;
    width: 300px;
    border-radius: 5px;
}
.card-buy:nth-child(4) {
margin-right: 0;
}

.you-had {
color: #ffffff;
font-family: "Arial";
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.card-h-buy {
color: #ffffff;
font-family: "Arial";
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: center;
margin-top: 15px;
margin-bottom: 0;
}

.price-num {
display: block;
color: #445162;
font-family: "Arial";
font-size: 40px;
font-weight: 400;
background-color: #fff;
margin-top: 10px ;
padding: 15px;
text-align: center;
border: 2px solid #445162;
box-sizing: border-box;
height: 71px;
 }

.buy-btn {
width: 260px;
height: 40px;
background-color: #fff;
margin-left: 20px;  
border:0px;
border-radius: 4px;
color: #445161;
font-family: "Arial";
font-size: 18px;
font-weight: 700;
line-height: 18px;
text-transform: uppercase;
margin-bottom: 15px;
}

.contact {
padding: 50px;
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
background-color: #445162;
    justify-content: center;
}

.seventh-h {
display: block;
width: 100%;
text-align: center;
color: #fff;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
margin: 0;
margin-bottom: 31px;
}

.feedback {
    display: flex;
    flex-direction: column;
}

input[type="text"],[type="email"]{
width: 500px;
border-radius: 10px;
outline: none;
border:1px solid white;
padding: 14px;    
color: #445162;
font-family: "Arial";
font-size: 16px;
line-height: 24px;  
    margin-bottom: 21px;
}

textarea {
width: 500px;
height: 170px;
border-radius: 10px;
color: #445162;
font-family: "Arial";
font-size: 16px;
line-height: 24px;
padding: 14px;
    outline: none;
}

input[type="submit"] {
width: 140px;
background-color: #fff;
border-radius: 10px;
outline: none;
border: 0;
color: #445162;
font-family: "Arial";
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
padding:  14px 48px 14px 48px;
margin: 21px auto;
}

.link {
display: block;
color: #fff;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
position: relative;
margin-bottom: 29px;
margin-left: 30px;    
}

.link:before {
    content: "";
   display: block;
    width: 24px;
    height: 26px;
    position: absolute;
    left: -30px;
    top:0px; 
}

.link:nth-child(1)::before{
background-image: url(../img/skype_icon.png);  
background-repeat: no-repeat;
}
.link:nth-child(2)::before{
background-image: url(../img/icq_icon.png);  
background-repeat: no-repeat;
}
.link:nth-child(3)::before{
background-image: url(../img/email_icon.png);  
background-repeat: no-repeat;
}
.link:nth-child(4)::before{
background-image: url(../img/phone_icon.png);  
background-repeat: no-repeat;
}

.list-contact {
    margin: 0;
}

.social-img {
    margin-left: 35px;
}

footer {
width: 100%;
height: 0;  
}

.footer {
color: #445162;
font-family: "Arial";
font-size: 12px;
font-weight: 400;
line-height: 24px;
margin: 0;
text-align: center;
background-color: #f5f5f5;
}

.list-struct::before {
content: "";
display: block;
width: 25px; 
height: 19px;
position: absolute;  
top: 8px;
left: -28px;
background-image: url(../img/check_icon.png);    
}

.struct-list::before {
width: 32px;
height: 32px;
content: "+";
color: white;
text-align: center;
line-height: 32px;
font-size: 40px;
background-color: #445161;
position: absolute;
top: 6px;
left: -42px;
}

input[type="text"]:hover,
[type="email"]:hover,
textarea:hover {
border: 1px solid #445161;
border-radius: 10px; 
background-color: #524651;
}
input[type="text"]:hover::placeholder,
input[type="email"]:hover::placeholder,
textarea:hover::placeholder {
  color: white;
}
input[type="submit"]:hover {
background-color: #524651;
    color:#fff;
}

.buy-btn:hover {
  color:#fff;
    background-color: #524651;
}