
.container {
   width: 1280px; 
    margin:0 auto ;
}

.first-h {
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
color: #ffffff;
font-family: "Arial";
font-size: 60px;
font-weight: 400;
    margin: 0;
}

.section1 {
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
    margin: 0;
}

.list-struct {
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
color: #fff;
font-family: "Arial";
font-size: 20px;
font-weight: 400;
line-height: 36px;
}

.need {
    width: 462px;
   /* padding: 50px;*/
    float:left;
}

.section1::after {
    content: "";
    display: block;
    clear: both;
}
.photo {
    width: 469px;
    float: right;
    background-color: #fff;
    display: block;
}


.blok {
   /* padding: 50px;*/
    float: left;
    width: 653px;
}

.section2::after {
    content: "";
    display: block;
    clear: both;
}

video {
    /*margin: 50px;*/
    float: right;
    width: 427px;
    height: 245px;
    background-color: #445161;
}

.second-h {
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
}

.par {
color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.third-h {
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
margin-left: 460px;
}

.section3 {
    background-color: #f5f5f5;
    padding: 40px 0 0 40px;
}

.second-list {
    width: 567px;
    display: inline-block;
}

.struct-list {
    margin-bottom: 30px;
    color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.fourth-h {
    display: block;
    width: 100%;
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
    text-align: center;
}

.card-h {
color: #445161;
font-family: "Arial";
font-size: 24px;
font-weight: 400;
line-height: 30px;
    margin: 0;
    padding: 0;
}

.text {
width: 369px;
color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
    margin: 0;
}

.photos {
display: block;
float: left;
width: 200px;
height: 150px;
background-color: #445161;
}



.section2 {
    padding: 50px;
box-sizing: border-box;
}



.block {
    display:flex;
    width: 554px;
align-items: center;
}





figcaption {
float: right;  
    margin-left: 15px;
}

.photos::after {
  content: "";
    display: block;
    clear: both;  
}

.screen {
    display: flex;
    flex-direction: row;
  //justify-content: space-evenly;
  flex-wrap: wrap;
  //align-items: center;
}

.fifth-h {
    display: block;
width: 100%;    text-align: center;
    color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
}

.avatar {
    display: block;
    width: 75px;
height: 75px;
background-color: #445161;
    border-radius: 50%;
}

.comments {
color: #333333;
font-family: "Arial";
font-size: 14px;
font-weight: 400;
line-height: 18px;
width: 440px;
    height: 121px;
    padding: 16px 0px 0 27px;
    background-color: #ebebeb;
    margin-left: 28px;
    position: relative;
    padding-right: 20px;
}

.comment {
    display: flex;
    padding: 0px 0px 0px 50px;
}

.reviews {
    display:flex; 
    width: 100%;
    flex-wrap: wrap;
}

.comments::before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid black;
    top: 27px;
    left: -30px;
    border: 15px solid transparent;	
    border-right: 15px solid #ebebeb;
}


.author {
color: #989898;
font-family: "Arial";
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
