.container {
   width: 1280px; 
    margin:0 auto ;
}

.first-h {
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
color: #ffffff;
font-family: "Arial";
font-size: 60px;
font-weight: 400;
    margin: 0;
}

.section1 {
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
    margin: 0;
}

.list-struct {
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
color: #fff;
font-family: "Arial";
font-size: 20px;
font-weight: 400;
line-height: 36px;
}

.need {
    width: 462px;
   /* padding: 50px;*/
    float:left;
}

.section1::after {
    content: "";
    display: block;
    clear: both;
}
.photo {
    width: 469px;
    float: right;
    background-color: #fff;
    display: block;
}


.blok {
   /* padding: 50px;*/
    float: left;
    width: 653px;
}

.section2::after {
    content: "";
    display: block;
    clear: both;
}

video {
    /*margin: 50px;*/
    float: right;
    width: 427px;
    height: 245px;
    background-color: #445161;
}

.second-h {    
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
}

.par {
color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.third-h {
width: 100%;
text-align: center;
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
}

.section3 {
    background-color: #f5f5f5;
    padding: 40px 0 0 40px;
}

.second-list {
    width: 567px;
    display: inline-block;
}

.struct-list {
    margin-bottom: 30px;
    color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.fourth-h {
display: block;
width: 100%;
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
    text-align: center;
}

.card-h {
color: #445161;
font-family: "Arial";
font-size: 24px;
font-weight: 400;
line-height: 30px;
margin: 0;
padding: 0;
}

.text {
width: 360px;
color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
    margin: 0;
}

.photos {
display: block;
//float: left;
width: 200px;
height: 150px;
background-color: #445161;
}



.section2 {
    padding: 50px;
box-sizing: border-box;
}



.block {
display:flex;
width: 574px;
align-items: center;
margin: 0 15px 30px 0;
padding: 0;
}





figcaption {
float: right;  
    margin-left: 15px;
}

.photos::after {
  content: "";
    display: block;
    clear: both;  
}

.screen {
display: flex;
flex-direction: row;
flex-wrap: wrap;   
padding: 50px;
box-sizing: border-box;
}

.fifth-h {
    display: block;
width: 100%;    text-align: center;
    color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
}

.avatar {
display: block;
width: 75px;
height: 75px;
background-color: #445161;
border-radius: 50%;
margin-top: 20px;    
}

.comments {
color: #333333;
font-family: "Arial";
font-size: 14px;
line-height: 18px;
width: 418px;
height: 121px;
padding: 16px 0px 0px 20px;
background-color:#ebebeb;
margin-left: 24px;
position: relative;
}

.comment {
    display: flex;
    padding: 0px 50px 0px 50px;
    //margin-right: 50px;
}

.reviews {
    display:flex; 
    width: 100%;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}

.comments::before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid black;
    top: 27px;
    left: -30px;
    border: 15px solid transparent;	
    border-right: 15px solid #ebebeb;
}


.author {
color: #989898;
font-family: "Arial";
font-size: 14px;
font-weight: 400;
line-height: 18px;
}

.buy {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
    box-sizing: border-box;
    justify-content: center;
}

.sixth-h {
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
width: 100%;
text-align: center;
}

.card-buy {
    background-color: #445162;
    margin: 0 45px 61px 0;
    width: 300px;
    border-radius: 5px;
}
.card-buy:nth-child(4) {
margin-right: 0;
}

.you-had {
color: #ffffff;
font-family: "Arial";
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.card-h-buy {
color: #ffffff;
font-family: "Arial";
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: center;
margin-top: 15px;
margin-bottom: 0;
}

.price-num {
display: block;
color: #445162;
font-family: "Arial";
font-size: 40px;
font-weight: 400;
background-color: #fff;
margin-top: 10px ;
padding: 15px;
text-align: center;
border: 2px solid #445162;
box-sizing: border-box;
height: 71px;
 }

.buy-btn {
width: 260px;
height: 40px;
background-color: #fff;
margin-left: 20px;  
border:0px;
border-radius: 4px;
color: #445161;
font-family: "Arial";
font-size: 18px;
font-weight: 700;
line-height: 18px;
text-transform: uppercase;
    margin-bottom: 15px;
}


